.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  padding-top: 10px;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.remove-icon-input {
  padding-right: 30px;
  background-image:url('./x-icon.svg');
  background-repeat: no-repeat;
  background-position: right center;
  height: 50px;
}

.remove-icon-input::-webkit-clear-button{
  display: none;
}

.remove-icon-input::-webkit-search-cancel-button{
  display: none;
}
/* Style the 'X' icon button */
.remove-button {
  background: none;
  border: none;
  font-size: 25px;
  color: white; /* You can choose the color you like */
  cursor: pointer;
  margin-left: 0px; /* Add some spacing between the input and the button */
}


